@import '../../../style/abstracts/variables';

.quiz-card{
    width: 30%;
    @media(max-width: $smallScreen) {
        width: 60%;
    }
}

.quiz{
    padding-top: 300px;
}

.results{
    width: 60%;
}